@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony&family=Tomorrow&display=swap');
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
    align-items: center;
	height: 18%;
}

.logo img {
    margin-top: 20%;
    margin-left: 35%;
    width: 238px;
    height: 24px;
}

 nav ul {
	display: flex;
    list-style-type: none;
    margin-top: 15%;
    margin-right: 35%;
   
}

ul li a {
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #292927;
	font-weight: 500;
    transition: .5s;
    display: block;
}

ul li a:hover {
	background: #000;
	color: #fff;
    transition: .5s
}
section.first-container {
    position: relative;
}
div.container {
    position: relative;
    width: 1440px;
    height: 610px;
    left: 0px;
    margin-top: 10px;
    background-image: url(Rectangle.jpg);
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
}
div.description {
    width: 1241px;
    height: 280px;
    left: 100px;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 0px;
}

p.description{

    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;

}
section.second-container {
    position: relative;
}
div.picbox {
    margin-top: 0px;
    margin-left: 454px;
    width: 533px;
    height: 355px;  
    padding:0px
}
div.container-follow {
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 200px;
    margin-right: 200px;
}
img.picture-box {
    width: 288px;
    height: 288px;
   
}

div.wrapper {

    width: 815px;
    height: 288px;
    left: 100px;
    top: 878px;
    float: right;
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
   
}

section.third-container {
    position: relative;
}
div.container-green {
    width: 1440px;
    height: 862px;
    background-image: url(Rectangle.png);
}

span.text-juarez {

    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}
p.text-juarez {
display: block;
margin: 130px;
}

section.forth-container {
    position: relative;
}
div.image-box {
    margin-left: 99px;
    margin-top: 130px; 
    margin-bottom: 130px;
    margin-right: 100px;
    
    width: 606px;
    height: 608px;
    display: inline-block;
}
span.juarez-text {
    margin-top: 120px;
    margin-left: 0;
    margin-right: 100px;
    margin-bottom: 0;
    width: 500px;
    height: 164px;
   
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    display: inline;
    color: #000000;

    float: right;
}
p.juarez-description {
    margin-top: 100px;
    width: 500px;
    height: 114px;

    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;    
    color: #000000;

    float: right;
}




