@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony&family=Tomorrow&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
    align-items: center;
	height: 18%;
}

.logo img {
    margin-top: 20%;
    margin-left: 35%;
    width: 238px;
    height: 24px;
}

 nav ul {
	display: flex;
    list-style-type: none;
    margin-top: 15%;
    margin-right: 35%;
   
}

ul li a {
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #292927;
	font-weight: 500;
    transition: .5s;
    display: block;
}

ul li a:hover {
	background: #000;
	color: #fff;
    transition: .5s
}
div.container {
    position: relative;
    width: 1440px;
    height: 610px;
    left: 0px;
    top: 40px;
    background-image: url(Rectangle.jpg);
    padding: 50px;
}

p.description{
    position: absolute;
    width: 1241px;
    height: 297px;
    left: 100px;
    top: 50px;
    
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #000000;

}
div.picbox {
    top: 265px;
    left: 400px;
    position: absolute;
}
img.picture-box {
    position: absolute;
    width: 288px;
    height: 288px;
    left: 100px;
    top: 878px;
}
p.about {
    position: absolute;
    width: 815px;
    height: 288px;
    left: 420px;
    top: 878px;
    
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    text-transform: uppercase;
    
    color: #000000;
   
}
div.container-green {
    position: absolute;
    width: 1440px;
    height: 862px;
    left: 0px;
    top: 1330px;
    background-image: url(Rectangle.png);
}
p.text-juarez {
    position: absolute;
    width: 1030px;
    height: 451px;
    left: 205px;
    top: 1544px;
    
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
div.image-box {
    position: absolute;
    width: 606px;
    height: 608px;
    left: 99px;
    top: 2314px;   
    display: inline-block;
}
span.juarez-text {
    position: absolute;
    width: 500px;
    height: 164px;
    left: 841px;
    top: 2314px;
    
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    display: inline;
    color: #000000;
}
span.juarez-description {
    position: absolute;
    width: 500px;
    height: 114px;
    left: 841px;
    top: 2542px;
    
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;    
    color: #000000;
}



